html {
}

body { background-color: bisque;
    margin: 60px,40px,60px,40px;
}

::selection {
}

#theme-switcher {
}

label {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
}

select {
}

#content {
    
}

h1 {
    color: blue;
}

h1::first-letter {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

time {
}

p { font-size: 23px;

}

ol {
}

li {
    color: blue;
}

li:hover { color: aqua;
}

li::marker { font-family: 'Courier New', Courier, monospace;
}

strong {
}

code {
}

a {
}

a:visited {
}

a:hover {
}
