@import url("https://use.typekit.net/vmw2lih.css");
html {
}

body {
    background-color: palevioletred;
    color: rgb(255, 255, 163);
    font-family: 'Jacquarda-Bastarda-9', sans-serif;
    margin: 10px;
    padding: 30px;
    border: dotted; 
}

::selection {
}

#theme-switcher {
}

label {
}

select {
}

#content {
}

h1 {
    text-align: center;
}

h1::first-letter { size: 4px;
}

time {
}

p {
}

ol {
}

li {
}

li:hover {
}

li::marker {
}

strong {
}

code {
}

a {
}

a:visited {
}

a:hover {
}
