html {
}

body {background-color: rgb(231, 225, 187);
}


::selection {
}

#theme-switcher {
}

label {
}

select {
}

#content {
}

h1 {text-align:center; 
    color:#5a2a2f; 
    font-family: sans-serif; 
    font-weight: 400;
    font-size: 30px;
    text-decoration: dotted;
    text-transform: capitalize;
}

h1::first-letter {
}

time {
}

p {
  text-align:right; 
    color:#5a2a2f; 
    font-family: sans-serif; 
    font-weight: 200;
    font-size: 15px;
}

ol {
}

li {
}

li:hover {
}

li::marker {
}

strong {
}

code {
}

a {
}

a:visited {
}

a:hover {
}
